<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SoStudy | Inscription</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/auth/register.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logos/logo_only.png}">
</head>
<body>
<div class="form">
    <h1 class="title">Inscription</h1>
    <form id="registerForm" action="/auth/register" method="post" enctype="multipart/form-data">
        <div class="form-grid">
            <div class="input-container ic1">
                <input id="nom" class="input" type="text" name="nom" placeholder=" " required/>
                <div class="cut"></div>
                <label for="nom" class="placeholder">Nom*</label>
            </div>

            <div class="input-container ic1">
                <input id="prenom" class="input" type="text" name="prenom" placeholder=" " required/>
                <div class="cut"></div>
                <label for="prenom" class="placeholder">Prenom*</label>
            </div>

            <div class="input-container ic2">
                <input id="email" class="input" type="email" name="email" placeholder=" " required/>
                <span id="emailCheck" class="error"></span>
                <div class="cut"></div>
                <label for="email" class="placeholder">Email*</label>
            </div>

            <div class="input-container ic2">
                <input id="pseudo" class="input" type="text" name="pseudo" placeholder=" " pattern="^[a-zA-Z0-9_]+$" title="Seuls les lettres non accentuées, chiffres et underscores (_) sont autorisés." required/>
                <span id="pseudoCheck" class="error"></span>
                <div class="cut"></div>
                <label for="pseudo" class="placeholder">Pseudo*</label>
            </div>

            <div class="input-container ic2">
                <input id="password" class="input" type="password" name="password" placeholder=" " required pattern="^\S+$"/>
                <div class="cut"></div>
                <label for="password" class="placeholder">Mot de passe*</label>
            </div>

            <div class="input-container ic2">
                <input id="birthdate" class="input" type="date" name="birthdate" placeholder=" " required/>
                <div class="cut"></div>
                <label for="birthdate" class="placeholder">Date de naissance*</label>
            </div>

            <div class="input-container ic2 full-width">
                <select id="niveauEtude" class="input" name="niveauEtude" required>
                    <option value="" disabled selected>Choisir un niveau d'étude</option>
                    <option th:each="niveau : ${niveauxEtude}" th:value="${niveau}" th:text="${niveau}"></option>
                </select>
                <div class="cut"></div>
                <label for="niveauEtude" class="placeholder">Niveau d'étude*</label>
            </div>

            <div class="input-container ic2">
                <input id="studyDomain" class="input" type="text" name="studyDomain" required placeholder=" "/>
                <div class="cut"></div>
                <label for="studyDomain" class="placeholder">Domaine d'étude*</label>
            </div>

            <div class="input-container ic2">
                <input id="university" class="input" type="text" name="university" required placeholder=" "/>
                <div class="cut"></div>
                <label for="university" class="placeholder">Université*</label>
            </div>

            <div class="input-container ic2 full-width">
                <input id="bioUser" class="input" type="text" name="bioUser" placeholder=" "/>
                <div class="cut"></div>
                <label for="bioUser" class="placeholder">Bio</label>
            </div>

            <div class="input-container ic2 full-width">
                <input id="image" class="input" type="file" name="image" accept="image/*" />
                <small>Moins de 2 Mo</small>
                <div class="cut"></div>
                <label for="image" class="placeholder">Photo de profil</label>
            </div>
        </div>

        <div class="error" th:if="${emailError} == true">Erreur : Cette adresse mail est déjà utilisée</div>
        <div class="error" th:if="${pseudoError} == true">Erreur : Ce pseudo est déjà utilisé</div>

        <button type="submit" class="submit">Créer le compte</button>
        <p class="register-link">Déjà un compte ? <a href="/auth/login">Se connecter</a></p>
    </form>
</div>


<div id="customModal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="closeModal">&times;</span>
        <p id="modalMessage">L'email ou le pseudo est déjà utilisé. Veuillez les corriger avant de valider.</p>
    </div>
</div>
</body>
<script src="/js/profile/registerValidation.js"></script>
</html>