<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar(currentUri)">
    <nav class="navbar">
        <div class="navbar-left">
            <a th:href="@{/}">
                <img th:src="@{/images/logos/logo_all.png}" alt="Logo" class="logo nav-item">
            </a>

            <form onsubmit="return redirectSearch(event)">
                <input type="text" id="searchInput" placeholder="Rechercher..." class="search-bar nav-item">
            </form>
        </div>


        <div class="navbar-right">
            <a th:href="@{/}" class="nav-item">
                <img th:if="${currentUri == '/'}" th:src="@{/images/logos/home-active.svg}" alt="Accueil" />
                <img th:unless="${currentUri == '/'}" th:src="@{/images/logos/home-grey.svg}" alt="Accueil" />
            </a>

            <a th:href="@{/channels/}" class="nav-item">
                <img th:if="${currentUri.contains('/channels')}" th:src="@{/images/logos/message-active.svg}" alt="Messagerie">
                <img th:unless="${currentUri.contains('/channels')}" th:src="@{/images/logos/message-grey.svg}" alt="Messagerie">
            </a>

            <a th:href="@{/community}" class="nav-item">
                <img th:if="${currentUri.contains('/community')}" th:src="@{/images/logos/community-active.svg}" alt="Communities">
                <img th:unless="${currentUri.contains('/community')}" th:src="@{/images/logos/community-grey.svg}" alt="Communities">
            </a>

            <a th:href="@{/event}" class="nav-item">
                <img th:if="${currentUri.contains('/event')}" th:src="@{/images/logos/event-active.svg}" alt="Events" id="events-img">
                <img th:unless="${currentUri == '/event'}" th:src="@{/images/logos/event-grey.svg}" alt="Events" id="events-img">
            </a>

            <a th:href="@{/post/publish}" class="nav-item">
                <img th:if="${currentUri.contains('/post/publish')}" th:src="@{/images/logos/publish-active.svg}" alt="Publier">
                <img th:unless="${currentUri.contains('/post/publish')}" th:src="@{/images/logos/publish-grey.svg}" alt="Publier">
            </a>

            <a th:href="@{/user/{pseudo}(pseudo=${session.user.pseudo})}" class="nav-item">
            <img th:if="${session.user.personImagePath != null}" th:src="@{${session.user.personImagePath}}" alt="Profil"
                 style="width:40px; height: 40px; border-radius:50%; object-fit:cover;" />
        </a>

        </div>
    </nav>
    <script th:src="@{/js/common/navbar.js}"></script>

</html>