/* login.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #EFEFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px; /* Réduit le padding (avant : 40px) */
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 360px; /* Optionnel : tu peux rétrécir un peu le bloc si besoin */
    margin: 80px auto;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #EFEFF3;
}

.login-container input[type="submit"] {
    background-color: #b226f8;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #862fb3;
}


.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.login-logo {
    display: block;;
    max-width: 75px;
    height: auto;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.register-link a {
    color: #6200ea;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}