.post-stats-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
}

.post-stats-icon {
    width: 25px;
    height: 25px;
}

.repost-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    padding: .8rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 14px;
}

.repost-btn:hover {
    background-color: #e0e0e0;
}

.repost-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.post-stats-count {
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.post-stats {
    color: #666;
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-stats span {
    color: #333;
    font-weight: bold;
}