<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar(currentUri)">
    <nav class="navbar">
        <div class="navbar-left">
            <img th:src="@{/images/logos/logo_all.png}" alt="Logo" class="logo nav-item">
            <input type="text" placeholder="Rechercher..." class="search-bar nav-item">
        </div>

        <div class="navbar-right">
            <a th:href="@{/}" class="nav-item">
                <img th:if="${currentUri == '/'}" th:src="@{/images/logos/home-active.svg}" alt="Accueil" />
                <img th:unless="${currentUri == '/'}" th:src="@{/images/logos/home-grey.svg}" alt="Accueil" />
            </a>

            <a th:href="@{/channels/}" class="nav-item">
                <img th:if="${currentUri.contains('/channels')}" th:src="@{/images/logos/message-active.svg}" alt="Messagerie">
                <img th:unless="${currentUri.contains('/channels')}" th:src="@{/images/logos/message-grey.svg}" alt="Messagerie">
            </a>

            <a th:href="@{/events}" class="nav-item">
                <img th:if="${currentUri.contains('/events')}" th:src="@{/images/logos/event-active.svg}" alt="Events">
                <img th:unless="${currentUri == '/events'}" th:src="@{/images/logos/event-grey.svg}" alt="Events" id="events-img">
            </a>

            <a th:href="@{/post/publish}" class="nav-item">
                <img th:if="${currentUri.contains('/post/publish')}" th:src="@{/images/logos/publish-active.svg}" alt="Publier">
                <img th:unless="${currentUri.contains('/post/publish')}" th:src="@{/images/logos/publish-grey.svg}" alt="Publier">
            </a>

            <a th:href="@{/profile}" class="nav-item">
                <img th:if="${currentUri.contains('/profile')}" th:src="@{/images/logos/user-active.svg}" alt="Profil">
                <img th:unless="${currentUri.contains('/profile')}" th:src="@{/images/logos/user-grey.svg}" alt="Profil">
            </a>
        </div>
    </nav>
    <script th:src="@{/js/navbar.js}"></script>
</html>