.chat-messages {
    flex: 1;
    display: grid;
    grid-auto-rows: min-content;
    padding: 20px;
    overflow-y: auto;
    row-gap: 10px;
    max-height: 60vh; /* ajuste selon ton layout */
}

.full-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 60%;
}

.message-row {
    display: flex;
}

.message-row.friend {
    justify-content: flex-start;
}

.message-row.me {
    justify-content: flex-end;
}

.bubble {
    position: relative;
    padding: 10px 15px;
    border-radius: 20px;
    word-break: break-word;
    background-color: #e0e0e0;
}

.message-row.me .bubble {
    background-color: #b226f8;
    color: white;
}

.form-no-style {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.send-icon{
    width: 32px;
    height: 32px;
    border: none;
    transition: transform 0.1s ease, background-color 0.3s ease;
    margin-right: 1rem;
    display: block;
    cursor: pointer;
}

.send-icon-hover {
    display: none;
    width: 32px;
    height: 32px;
    border: none;
    transition: transform 0.1s ease, background-color 0.3s ease;
    margin-right: 1rem;
    cursor: pointer;
}

.message-text-body{
    padding: 0.2rem;
}
.profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
}

.prof-pic-container{
    display: flex;
    align-items: center;
}

.message-pseudo{
    margin-right: 0.2rem;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.message-date {
    display: none;
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 0.75rem;
    color: #888;
    padding: 4px 8px;
    border-radius: 12px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.bubble.show-date .message-date {
    display: block;
    opacity: 1;
}

