.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.bigger {
    width: 48px;
    height: 48px;
}
.modal-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    font-size: 0.95rem;
    border-bottom: 1px solid #e0e0e0;
    color: #444;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    background: red;
    border-radius: 8px;
    padding: 5px 10px
}

.delete-button:hover {
    background: #ff4d4d;
}

.delete-button:focus {
    outline: none;
}

.delete-button:active {
    transform: scale(0.95);
}

.delete-img {
    width: 25px;
    height: 25px;
}

.prof-pic-pseudo-modal{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.modal-pseudo{
    font-size: 1.1rem;
    font-weight: bold;
}

.modal-pseudo:hover{
    color: #b226f8;
}

.modal-close{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-btn-modal{
    width: 32px;
    height: 32px;
}
.full-height {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-group{
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.upload-icon{
    width: 32px;
    height: 32px;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    display: block;
}
.upload-icon-hover{
    width: 32px;
    height: 32px;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}

.channel-image-label{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.channel-image-label:hover{
    color: #b226f8;
}

.channel-image {

    margin-bottom: 2rem;
}

.modal-body{
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
}