<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SoStudy | Conversations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post/form_publish_post.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/message/list_channels.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/message/list_new_conv.css}">

    <link rel="icon" type="image/png" th:href="@{/images/logos/logo_only.png}">
</head>
<body>
    <div th:replace="common/navbar :: navbar(${currentUri})"></div>
    <form th:action="@{/channels/new}" method="get">
        <div class="list-chan-box">
            <input type="text" placeholder="Rechercher..." class="search-bar full">

            <ul class="full-card">
                <li class="user-card" th:each="entry : ${lastMessageMap}">
                    <a class="user-info">
                        <img th:if="${entry.key.getUsers().size() > 2}" th:src="${entry.key.channelImagePath}" alt="User" class="user-photo">
                        <img th:unless="${entry.key.getUsers().size() > 2}" th:src="${profPicMap[entry.key]}" alt="User" class="user-photo" />
                        <div class="text-placeholder">
                            <h3 th:if="${entry.key.getUsers().size() > 2}" class="user-name" th:text="${entry.key.getChannelName()}"></h3>
                            <h3 th:unless="${entry.key.getUsers().size() > 2}" class="user-name" th:text="${profPseudoMap[entry.key]}"></h3>
                            <p class="user-description" th:if="${entry.value != null}" th:text="${entry.value.getContent()}"></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <button type="submit" class="new-conv">
            +
        </button>
    </form>
</body>
</html>
