<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SoStudy | Créer une conversation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post/form_publish_post.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/message/modal.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/message/chat.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/message/list_new_conv.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logos/logo_only.png}">
</head>
<body>
    <div th:replace="common/navbar :: navbar(${currentUri})"></div>


<div th:if="${error}" class="flash-message error" id="errorAlert">
    <span th:text="${error}">Une erreur est survenue.</span>
    <button class="close-btn" onclick="closeFlashMessage()">×</button>
</div>

<div class="centered-box">
    <div class="new-conv-header">
        <a th:href="@{/channels/}">
            <img src="/images/logos/back-grey.svg" alt="Logo" class="send-icon">
            <img src="/images/logos/back-purple.svg" alt="Logo" class="send-icon-hover">
        </a>
        <input type="text" placeholder="Rechercher..." class="search-bar full">
    </div>

    <ul class="full-card">
        <h2 class="title-card">Mes abonnements :</h2>
        <li th:if="${following.isEmpty()}" style="list-style-type: none;">
            <p class="no-user">Aucun utilisateur suivi.</p>
        </li>

        <li class="user-card" th:each="user : ${following}">
            <div class="user-info">
                <img th:src="${user.getPersonImagePath()}" alt="User" class="user-photo">
                <div class="text-placeholder">
                    <h3 class="user-name" th:text="${user.getPseudo()}">Nom de l'utilisateur</h3>
                    <p class="user-description" th:text="${user.getBioUser()}">Description de l'utilisateur</p>
                </div>
            </div>
            <input type="checkbox"
                   class="checkbox"
                   name="selectedUsers"
                   th:value="${user.idUser}">
        </li>
    </ul>
    <button class="btn confirm bottom" id="submitBtn" onclick="openModal()" disabled>Créer une nouvelle conversation</button>

</div>



<div class="modal-overlay" id="myModal">

    <div class="modal" >
        <div class="avatars">
            <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="user1" class="avatar">
            <img src="https://randomuser.me/api/portraits/men/45.jpg" alt="user2" class="avatar">
            <img src="https://randomuser.me/api/portraits/women/46.jpg" alt="user3" class="avatar">
        </div>

        <h2 class="h2-modal">Créer une nouvelle conversation</h2>
        <p class="p-modal">Envoie un message pour démarrer la conversation !</p>

        <form th:action="@{/channels/new}" method="post" enctype="multipart/form-data">

            <div id="channelNameWrapper" style="display: none;">
                <h4 class="h4-modal">Nom de la conversation</h4>
                <div class="share-link">
                    <input type="text" name="channelName" id="channelName" placeholder="Nom du groupe">
                    <div class="copy-icon">💬</div>
                </div>
            </div>

            <h4 class="h4-modal">Premier message</h4>
            <div class="share-link">
                <input type="text" id="firstMessage" name="firstMessage" placeholder="Premier Message" value="" required>
                <div class="copy-icon">💬</div>
            </div>

            <div id="channelImageWrapper" style="display: none;">
                <h4 class="h4-modal">Image de la conversation</h4>
                <div class="share-link">
                    <input type="file" name="channelImage" id="channelImage" accept="image/*">
                    <small>Moins de 2 Mo</small>
                    <img id="preview" src="#" alt="Prévisualisation" style="display:none; max-width: 100px; margin-top: 10px;">
                </div>
            </div>

            <input type="hidden" name="selectedUsers" id="selectedUsersInput">

            <div class="buttons">
                <button type="button" class="btn cancel" onclick="closeModal()">Annuler</button>
                <input type="submit" class="btn confirm">
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/message/modal.js}"></script>
<script th:src="@{/js/message/new_conv.js}"></script>
<script th:src="@{/js/message/flashMessage.js}"></script>
</body>
</html>
